Source: protobuf-ruby
Section: non-free/net
Maintainer: Brian Palmer <brian@mozy.com>
Priority: optional
Architecture: all
Build-Depends: debhelper (>= 4), ruby1.8, ruby1.8-dev

Package: libprotobuf-ruby1.8
Architecture: any
Depends: ruby1.8, protobuf | protobuf-compiler
Description: Ruby implementation of a compiler and runtime for Google Protocol
 Buffers.
